<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->

  <p class="mb-4"></p> <!-- Margen Inicial  -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Administrar Empleados</h6>
    </div>
      <div class="pt-3 pl-3">
    <a href="employees/add" class="btn btn-success .btn-circle btn-sm mr-auto">
      <span class="icon text-white-50">
        <i class="fas fa-check"></i>
      </span>
      <span class="text">Adicionar</span>
    </a>
  </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Identificación</th>
              <th>Usuario</th>
              <th>Nombres y Apellidos</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Celular</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tfoot>
            <th>Id</th>
            <th>Identificación</th>
            <th>Usuario</th>
            <th>Nombres y Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Acciones</th>
            </tr>
          </tfoot>
          <tbody>
            {{#each users}}
            <tr>
              <td>{{id}}</td>
              <td>{{number_id}}</td>
              <td>{{username}}</td>
              <td>{{name}} {{lastname}}</td>
              <td>{{address}}</td>
              <td>{{telephone}}</td>
              <td>{{cellphone}}</td>
              <td>
                <a class="btn btn-warning btn-sm" href="/employees/edit/{{id}}">
                  <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                  <span class="text" class="d-inline-block" tabindex="0" data-placement="top" title="Editar"> </span>
                </a>
                <a class="btn btn-danger btn-sm" href="/employees/delete/{{id}}">
                  <span class="icon text-white-50 d-inline-block" tabindex="0" data-placement="top" title="Eliminar"><i
                      class="fas fa-trash" data-toggle="tooltip"> </i> </span>
                  <span class="text"> </span>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>